<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/edit_style.css">
    <script defer src='/public/scripts/api.js'></script>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='products-container'>
        <div class='product'>
            <form action='/gift-guide/<%= product._id %>?_method=put' method='post'>
                <p>Name: <input class='info' type='text' name='name' placeholder='Name' value='<%= product.name %>'></p>
                <p>Holiday: <input class='info' type='text' name='holiday' placeholder='Holiday' value='<%= product.holiday %>'></p>
                <p>Recipient: <input class='info' type='text' name='recipient' placeholder='Recipient' value='<%= product.recipient %>'></p>
                <p>Price: <input class='info' type='text' name='price' placeholder='Price' value='<%= product.price %>'></p>
                <p>Quantity: <input class='info' type='text' name='quantity' placeholder='Quantity' value='<%= product.quantity %>'></p>
                <p>Product URL: <input class='info' type='text' name='productURL' placeholder='Product URL' value='<%= product.productURL %>'></p>
                <p>Image URL: <input id='imgURL' class='info' type='text' name='imgURL' placeholder='Image URL' value='<%= product.imgURL %>'></p>
                <input id='img-next' type='submit' value='Next'>
                <input id='img-return' type='submit' value='Return'>
                <p>In Stock: <input class='info' type='checkbox' name='inStock' value='<%= product.inStock %>'></p>
                <p>Purchased: <input class='info' type='checkbox' name='purchased' value='<%= product.pruchased %>'></p>
                <input class='submit' type='submit' name='Submit'>
            </form>
            <form action='/gift-guide/<%=product._id%>/edit' method='post'> 
                <% if (images.length == 0) { %>
                    <img src='<%=product.imgURL%>'>
                <% } else { %>
                   <img src='<%=images[0].urls.full%>'>
                <% } %>
                <p>Image Search: <input id='search-input' type='text' value='cheese' name='imgSearchTerm'></p>
                <input type='submit' value='Search'>
            </form>
        </div>
    </div>
</body>
</html>