<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/public/css/update_style.css">
    <script defer src='/public/scripts/api.js'></script>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='products-container'>
        <div class='product'>
            <%-include('../partials/form.ejs') %>
            <form action='/gift-guide/<%= product._id %>?_method=put' method='post'>
                <input class='info' type='text' name='name' placeholder='Name' value='<%= product.name %>'>
                <input class='info' type='text' name='holiday' placeholder='Holiday' value='<%= product.holiday %>'>
                <input class='info' type='text' name='recipient' placeholder='Recipient' value='<%= product.recipient %>'>
                <input class='info' type='text' name='price' placeholder='Price' value='<%= product.price %>'>
                <input class='info' type='text' name='quantity' placeholder='Quantity' value='<%= product.quantity %>'>
                <input class='info' type='text' name='productURL' placeholder='Product URL' value='<%= product.productURL %>'>
                <input id='imgURL' class='info' type='text' name='imgURL' placeholder='Image URL' value='<%= product.imgURL %>'>
                <% if (product.inStock == true) { %>
                    <p class='checkbox'>In Stock: <input class='info' type='checkbox' name='inStock' value='<%= product.inStock %>' checked='checked'></p>
                <% } else { %>
                    <p class='checkbox'>In Stock: <input class='info' type='checkbox' name='inStock' value='<%= product.inStock %>'></p>
                <% } %>
                <% if (product.purchased == true) { %>
                    <p class='checkbox'>Purchased: <input class='info' type='checkbox' name='purchased' value='<%= product.pruchased %>' checked='checked'></p>
                <% } else { %>
                    <p class='checkbox'>Purchased: <input class='info' type='checkbox' name='purchased' value='<%= product.inStock %>'></p>
                <% } %>
                <input class='submit' type='submit' name='Submit'>
            </form>
        </div>
    </div>
</body>
</html>