<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../public/scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/index_style.css"> 
    <title>Gift Guide</title>
</head>
<body>
    <h1>Welcome to the Gift Guide</h1>
    <div class='holiday-selector'>
        <p>Holiday Selector:</p>
        <select id='holiday-selector'>
            <% holiday.forEach(element => { %> 
                <option><%= element %></option>
            <% }) %>
        </select>
        <a id='holiday-selector-link' href='/gift-guide/'><input id='submit-holiday' type='submit' value='Submit'></a>
    </div>
    <div class='recipient-selector'>
        <p>Recipient Selector:</p>
        <select id='recipient-selector'>
            <% recipient.forEach(element => { %> 
                <option><%= element %></option>
            <% }) %>
        </select>
        <a id='recipient-selector-link' href='/gift-guide/'><input id='submit-recipient' type='submit' value='Submit'></a>
    </div>
    <div class='products'>
        <% product.forEach(element => { %>
            <a href='/gift-guide/<%= element._id %>'><img width='400px' src='<%= element.imgURL %>'></a>
            <h3>Name: <%= element.name %></h3>
            <h5>Holiday: <a href='/gift-guide/holiday/<%= element.holiday %>'><%= element.holiday %></a></h5>
            <h5>Recipient: <a href='/gift-guide/recipient/<%= element.recipient %>'><%= element.recipient %></a></h5>
            <a href='/gift-guide/<%= element._id %>/edit'><input type='submit' value='Edit'></a>
        <% }) %>
    </div>
</body>
</html>