<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/public/css/index_style.css"> 
    <script defer src='/public/scripts/holiday.js'></script>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div id='header'>
        <h1 id='title'><%=product[0].recipient%></h1>
    </div>
    <%-include('../partials/selector.ejs') %>
    <%-include('../partials/total_cost.ejs') %>
    <%-include('../partials/show.ejs') %>
</body>
</html>