<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../public/scripts/edit.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/show_style.css"> 
    <title>Gift Guide</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='products-container'>
        <div class=product>
            <h4><%= product.name %></h4>
            <h3><%= product.holiday %></h3>
            <img src='<%= product.imgURL %>' width='400px'>
            <p>Recipient: <%= product.recipient %></p>
            <p>Price: $<%= product.price %></p>
            <p>Quantity: <%= product.quantity %></p>
            <p>Total Cost: $<%= product.totalCost %></p>
            <% if (product.inStock == true) { %>
                <p>In Stock: &#10004;</p>
            <% } else { %>
                <p>In Stock: X</p>
            <% } %>
            <% if (product.purchased == true) { %>
                <p>Purchased: &#10004;</p>
            <% } else { %>
                <p>Purchased: X</p>
            <% } %>
            <a href='<%= product.productURL %>' target='_blank'><p>Link</p></a>
            <div class='forms'>
                <form action='/gift-guide/<%= product._id %>/edit'>
                    <input type='submit' value='Adjust Gift Information'>
                </form>
                <form action='/gift-guide/<%= product._id %>?_method=delete' method='post'>
                    <input type='submit' Value='Delete Gift'>
                </form>
            </div>
        </div>
    </div>
</body>
</html>